<head>
    <title>宁波普天</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="宁波普天服务端程序">
    <meta name="keywords" content="宁波普天服务端程序">
    <meta name="author" content="作者：宋涛 <map90vip@163.com>">
    <link rel='stylesheet' href='/css/style.css' />
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>