<!DOCTYPE html>
<html>
  <%include header.ejs%>
  <body>
    <div class="index-wrap">
      <div class="index-wrap-content">
        <img src="./images/Kubernetes_banner_icon.png" width="200" alt="">
        <h1><%= title %></h1>
        <p><%= desc %></p>
        <div>
          <a href="/api-docs" target="_blank">接口示例文档</a> &emsp;
          <a href="/info" target="_blank">其他技术说明</a>
        </div>
      </div>
    </div>
    <%include footer.ejs%>
  </body>
</html>
